body {
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    width: 165px;
    height: 58px;
}

ul {
    list-style: none;
    margin-top: 60px;
    margin-bottom: 60px;
}

li {
    display: inline-block;
    margin-right: 20px;
    }

a {
    text-decoration: none;
    color: #58595B;
    font-family: Arial, Helvetica, sans-serif;
}

.images {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    max-width: 1200px;
}